@import "colors.css";

html * {
    margin: 0;
    padding: 0;

    scrollbar-color: var(--accentMedium) transparent;
    scrollbar-width: thin;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: "Candara";
    font-style: sans-serif;
}

h1 {
    color: var(--background);
    float: top;
    padding-top: 8px;
    padding-bottom: 8px;
}

img.logo {
    height: 90%;
    float: left;
}

button {
    outline: none;
}

.menu button {
    color: var(--background);
    background-color: var(--greyDark);
    border: none;
    float: left;
    height: 100%;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.menu button:hover, .menu button:focus {
    background-color: var(--text);
    border-bottom: 5px solid var(--accentLight);
}

a, a:visited {
    color: var(--accentLight);
    transition: 0.2s ease;
}

a:hover {
    color: black;
    background-color: var(--background);
    transition: 0.2s ease;
}

.button {
    background: var(--accentLight);
    margin-top: 16px;
    width: 200px;
    height: 32px;
    border: none;
    border-radius: 2px;
    color: var(--white);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

.button:hover, .button:focus {
    background: var(--accentLight);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    transition: 0.1s ease;
    opacity: 1;
}

/*================ PAGE LAYOUT ================*/

.page {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.header-wrap {
    position: absolute;
    background: var(--greyDark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    overflow: block;
}

.header {
    text-align: left;
    position: absolute;
    overflow: block;
}

.menu {
    position: absolute;
    overflow: block;
}

.main {
    position: relative;
    overflow: block;
    padding: 0;
    padding-top: 16px;
}

@media screen and (min-width: 1350px) {
    h1 {
        font-size: 32px;
    }

    .header-wrap {
        width: 100%;
        height: 64px;
        top: 0;
    }

    .header {
        width: 60%;
        height: 100%;
        left: 20%;
        top: 0%;
    }

    .menu {
        width: 40%;
        height: 100%;
        right: 0%;
        top: 0%;
    }

    .main {
        width: 1200px;
        margin-left: -600px;
        left: 50%;
        top: 64px;
    }
}

@media screen and (max-width: 1350px) and (min-width: 720px) {
    h1 {
        font-size: 20px;
    }

    .header-wrap {
        width: 100%;
        height: 64px;
        top: 0;
    }

    .header {
        width: 90%;
        height: 100%;
        left: 5%;
        top: 0%;
    }

    .menu {
        width: 100%;
        height: 40%;
        bottom: 0%;
    }

    .main {
        width: 90%;
        left: 5%;
        top: 80px;
    }
}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 20px;
    }

    .header-wrap {
        width: 100%;
        height: 64px;
        top: 0;
    }

    .header {
        width: 90%;
        height: 100%;
        left: 5%;
        top: 0%;
    }

    .menu {
        width: 100%;
        height: 40%;
        bottom: 0%;
    }

    .main {
        width: 90%;
        left: 5%;
        top: 80px;
    }
}

/*================ SCROLLBAR ================*/

/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--background); 
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: var(--accentMedium);
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accentLight); 
}
