@import "colors.css";

html * {
    margin: 0;
    padding: 0;

    scrollbar-color: var(--accentMedium) transparent;
    scrollbar-width: thin;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: "Candara";
}

h1 {
    font-size: 32px;
    color: var(--background);
    padding-top: 16px;
}

h2 {
    color: var(--accentMedium);
}

p.list {
    padding-bottom: 16px;
}

button {
    outline: none;
}

.menu button {
    color: var(--background);
    background-color: var(--greyDark);
    border: none;
    float: left;
    height: 100%;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: 0.2s ease;
    cursor: pointer;
}

.menu button:hover {
    background-color: var(--text);
    border-bottom: 5px solid var(--accentLight);
}

a, a:visited {
    color: var(--accentMedium);
    transition: 0.2s ease;
}

a:hover {
    color: var(--background);
    background-color: var(--accentMedium);
    transition: 0.2s ease;
}

/*================ PAGE LAYOUT ================*/

.page {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.header-wrap {
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    background: var(--greyDark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.header {
    position: absolute;
    height: 100%;
    width: 1200px;
    margin-left: -600px;
    left: 50%;
    top: 0%;
    overflow: hidden;
}

.menu {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0%;
    top: 0%;
}

.main {
    position: relative;
    width: 1200px;
    margin-left: -600px;
    left: 50%;
    padding-top: 80px;
    overflow: visible;
    display: none;
}

#home {
    display: block;
}

@media screen and (min-width: 1350px) {
}

@media screen and (max-width: 1350px) and (min-width: 720px) {
}

@media screen and (max-width: 720px) {
}

/*================ SCROLLBAR ================*/

/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--background); 
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: var(--accentMedium);
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accentLight); 
}
